
{% extends 'base.html' %}

{% block title %}Update Batch{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Update Batch</h1>
        <form method="post">
            {% csrf_token %}
            <div class="field">
                <label class="label" for="batchId">Batch ID</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="text" id="batchId" name="batch_id" placeholder="Enter Batch ID" required>
                    <span class="icon is-small is-left">
                        <i class="fas fa-barcode"></i>
                    </span>
                </div>
                <div class="level">
                    <div class="level-left">
                        <button class="button is-info mt-3" type="button" id="fetchDataBtn">Fetch Data</button>
                    </div>
                    <div class="level-right">
                        <span id="fetchResult" class="mt-3 pl-4 has-text-weight-bold is-size-4"></span>
                    </div>
                </div>
                <p class="help is-danger" id="batchError" style="display: none;"></p>
            </div>

            <div class="field">
                <label class="label" for="processingDetails">Processing Details</label>
                <div class="control">
                    <textarea class="textarea" id="processingDetails" name="processing_details"></textarea>
                </div>
            </div>

            <div class="field">
                <label class="label" for="roastingDate">Roasting Date</label>
                <div class="control">
                    <input class="input" type="date" id="roastingDate" name="roasting_date">
                </div>
            </div>

            <div class="field">
                <label class="label" for="packagingDetails">Packaging Details</label>
                <div class="control">
                    <textarea class="textarea" id="packagingDetails" name="packaging_details"></textarea>
                </div>
            </div>

            <div class="field">
                <label class="label" for="packagingDate">Packaging Date</label>
                <div class="control">
                    <input class="input" type="date" id="packagingDate" name="packaging_date">
                </div>
            </div>

            <div class="field">
                <input type="checkbox" class="checkbox" id="isShipped" name="is_shipped">
                <label class="checkbox" for="isShipped">Is Shipped?</label>
            </div>

            <div class="field">
                <input type="checkbox" class="checkbox" id="isDelivered" name="is_delivered">
                <label class="checkbox" for="isDelivered">Is Delivered?</label>
            </div>

            <div class="field">
                <label class="label" for="currentLocation">Current Location</label>
                <div class="control">
                    <input class="input" type="text" id="currentLocation" name="current_location">
                </div>
            </div>

            <div class="control">
                <button type="submit" class="button is-primary">Update Batch</button>
            </div>
        </form>
    </div>
</section>

<script>
document.getElementById('fetchDataBtn').addEventListener('click', function() {
    var batchId = document.getElementById('batchId').value;
    var csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
    var fetchResult = document.getElementById('fetchResult');
    var batchError = document.getElementById('batchError');

    if (!batchId) {
        fetchResult.textContent = 'Please enter a Batch ID';
        fetchResult.classList.add('has-text-danger');
        return;
    }


    fetch('/blockchain/fetch_batch_data/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrfToken
        },
        body: JSON.stringify({batch_id: batchId})
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            // Prefill the form fields
            document.getElementById('processingDetails').value = data.batch_data.processing_details || '';
            document.getElementById('roastingDate').value = data.batch_data.roasting_date || '';
            document.getElementById('packagingDetails').value = data.batch_data.packaging_details || '';
            document.getElementById('packagingDate').value = data.batch_data.packaging_date || '';
            document.getElementById('isShipped').checked = data.batch_data.is_shipped || false;
            document.getElementById('isDelivered').checked = data.batch_data.is_delivered || false;
            document.getElementById('currentLocation').value = data.batch_data.current_location || '';
            fetchResult.textContent = ''; // Clear any previous message
            fetchResult.classList.remove('has-text-danger');
            batchError.style.display = 'none';
        } else {
            // Handle the case where data is not found or an error occurred
            // alert('Batch data not found or an error occurred.');
            fetchResult.textContent = 'Batch data not found or an error occurred.';
            fetchResult.classList.add('has-text-danger');
            batchError.style.display = 'none';
        }
    })
    .catch(error => {
        console.error('Error:', error);
        fetchResult.textContent = 'An error occurred during fetching data.';
        fetchResult.classList.add('has-text-danger');
        batchError.style.display = ''; // Show the error message
    });
});
</script>

{% endblock %}
