
{% extends 'base.html' %}

{% block title %}View Batch{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">View Batch</h1>

        <h3 class="subtitle">Batches You Can Track</h3>
        <ul>
            {% for batch in batches %}
                <li>{{ batch.batch_id }}</li>
            {% empty %}
                <li>No batches available.</li>
            {% endfor %}
        </ul>

        <form method="post" class="mt-3 mb-5">
            {% csrf_token %}
            <div class="field">
                <label class="label" for="batchId">Batch ID</label>
                <div class="control">
                    <input class="input" type="text" id="batchId" name="batch_id" required>
                </div>
            </div>
            <div class="control">
                <button type="submit" class="button is-primary">View Details</button>
            </div>
        </form>

        {% if batch_details %}
            <div class="box mt-4">
                <h3 class="title is-4">Details for Batch ID: {{ batch_details.batch_id }}</h3>
                <p><strong>Farm Name:</strong> {{ batch_details.farm_name }}</p>
                <p><strong>Origin Location:</strong> {{ batch_details.origin_country }}</p>
                <p><strong>Harvest Date:</strong> {{ batch_details.harvest_date }}</p>
                <p><strong>Processing Details:</strong> {{ batch_details.processing_details }}</p>
                <p><strong>Roasting Date:</strong> {{ batch_details.roasting_date|date:"Y-m-d" }}</p>
                <p><strong>Packaging Details:</strong> {{ batch_details.packaging_details }}</p>
                <p><strong>Packaging Date:</strong> {{ batch_details.packaging_date|date:"Y-m-d" }}</p>
                <p><strong>Is Shipped:</strong> {{ batch_details.is_shipped }}</p>
                <p><strong>Is Delivered:</strong> {{ batch_details.is_delivered }}</p>
                <p><strong>Current Location:</strong> {{ batch_details.current_location }}</p>
            </div>
                {% else %}
            <!-- Display a message if no batch details are found -->
            <div class="notification is-warning mt-4">
                <p>BatchID does not exist.</p>
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}
